/* CSS Custom Properties */
:root {
    /* ========= Color ======== */
    /* Primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    /* ========================= */

    /* ======= Typography ====== */
    /* Body Copy */
    --size-paragraph: 16px;

    /* Font Weights */
    --small-weight: 500;
    --medium-weight: 700;
    --large-weight: 900;
    /* ========================= */
}


* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: repeat-x;
    background-color: var(--pale-blue);
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Header */
.card {
    background-color: white;
    box-shadow: 0 2.5rem 3rem 0 rgb(180 187 220);
    border: none;
    width: 400px;
    height: 630px;
    border-radius: 1.5rem;
    min-height: 100%;
}

.card .card-header {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-size: 100%;
    background-image: url("../images/illustration-hero.svg");
    background-repeat: no-repeat;
    min-height: 32.5%;
}

/* Card Body */
.card-item {
    margin: auto;
}

h2 {
    padding-top: 1rem;
}

.card-item .row {
    padding: 0.2rem 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-weight: var(--large-weight);
    text-align: center;
}

.card-text {
    margin: auto;
    width: 90%;
    text-align: center;
    padding-bottom: 1rem;
}

.row {
    border-radius: 0.5rem;
    background-color: var(--very-pale-blue);
}

.row .plan .col-8 {
    margin-left: 1rem;
}

a {
    text-decoration: underline;
}

/* Card Footer */
.footer {
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.footer .btn {
    font-size: 16px;
    border: none;
    border-radius: 0.75rem;
    margin: 2rem 0;
    padding: 1rem 0;
    color: white;
    background-color: var(--bright-blue);
    box-shadow: 0 1.3rem 1rem 0 var(--pale-blue);
    cursor: pointer;
}

/* Combine */
.footer .btn,
.card-item {
    width: 80%;
}

.card-text,
.info p {
    font-weight: var(--small-weight);
}

.card-text,
.info p,
.footer {
    color: var(--desaturated-blue);
}

span, a, .footer, .footer .btn {
    font-weight: var(--medium-weight);
}

.header,
h2 {
    color: var(--dark-blue);
}


/* Response */
@media only screen and (max-width: 1200px) {
    .card {
        width: 375px;
        height: 630px;
    }
}

@media only screen and (max-width: 375px) {
    .card {
        width: 305px;
        height: 540px;
    }

    .card .card-header {
        min-height: 26.5%;
    }

    .card-title {
        padding-top: 0;
    }

    .card-item .row {
        padding: 0.2rem 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer .btn,
    .card-item {
        width: 90%;
    }
}